name: Build LLVM Toolchain

on:
  workflow_dispatch:
    inputs:
      force_rebuild:
        description: 'Force rebuild toolchain (ignore cache)'
        required: false
        default: false
        type: boolean
  workflow_call:

defaults:
  run:
    shell: bash

jobs:
  build_llvm:
    name: Build LLVM/Clang Toolchain (x86_64)
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/shinchiro/archlinux:latest
    steps:
      - name: Setup git config
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global pull.rebase true
          git config --global rebase.autoStash true
          git config --global fetch.prune true
          git config --global --add safe.directory $PWD

      - uses: actions/checkout@v4

      - name: Clone mpv-winbuild-cmake
        run: |
          git clone --depth 1 https://github.com/shinchiro/mpv-winbuild-cmake.git mpv-winbuild-cmake

      - name: Load clang_root cache
        id: clang_root_cache
        if: ${{ github.event.inputs.force_rebuild != 'true' }}
        uses: actions/cache/restore@v4
        with:
          path: clang_root
          key: clang_root-${{ github.run_id }}
          restore-keys: clang_root

      - name: Load x86_64 toolchain cache
        id: x86_64_cache
        if: ${{ github.event.inputs.force_rebuild != 'true' }}
        uses: actions/cache/restore@v4
        with:
          path: build_x86_64
          key: clang-x86_64_toolchain-${{ github.run_id }}
          restore-keys: clang-x86_64_toolchain

      - name: Load repository cache
        uses: actions/cache/restore@v4
        with:
          path: src_packages
          key: repository-${{ github.run_id }}
          restore-keys: repository

      - name: Build LLVM with IR Profile Instrumentation
        if: ${{ steps.clang_root_cache.outputs.cache-matched-key == '' }}
        working-directory: mpv-winbuild-cmake
        run: |
          cmake -DTARGET_ARCH=x86_64-w64-mingw32 \
                -DLLVM_ENABLE_PGO=GEN \
                -DCOMPILER_TOOLCHAIN=clang \
                -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/clang_root \
                -DMINGW_INSTALL_PREFIX=$GITHUB_WORKSPACE/build_x86_64/x86_64-w64-mingw32 \
                -DSINGLE_SOURCE_LOCATION=$GITHUB_WORKSPACE/src_packages \
                -DRUSTUP_LOCATION=$GITHUB_WORKSPACE/clang_root/install_rustup \
                -G Ninja -B $GITHUB_WORKSPACE/build_x86_64 -S .
          ninja -C $GITHUB_WORKSPACE/build_x86_64 llvm
          ninja -C $GITHUB_WORKSPACE/build_x86_64 rustup
          ninja -C $GITHUB_WORKSPACE/build_x86_64 cargo-clean

      - name: Build x86_64 toolchain
        if: ${{ steps.x86_64_cache.outputs.cache-matched-key == '' }}
        working-directory: mpv-winbuild-cmake
        run: |
          cmake -DTARGET_ARCH=x86_64-w64-mingw32 \
                -DLLVM_ENABLE_PGO=GEN \
                -DCOMPILER_TOOLCHAIN=clang \
                -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/clang_root \
                -DMINGW_INSTALL_PREFIX=$GITHUB_WORKSPACE/build_x86_64/x86_64-w64-mingw32 \
                -DSINGLE_SOURCE_LOCATION=$GITHUB_WORKSPACE/src_packages \
                -DRUSTUP_LOCATION=$GITHUB_WORKSPACE/clang_root/install_rustup \
                -G Ninja -B $GITHUB_WORKSPACE/build_x86_64 -S .
          ninja -C $GITHUB_WORKSPACE/build_x86_64 llvm-clang

      - name: PGO training with shaderc
        if: ${{ steps.clang_root_cache.outputs.cache-matched-key == '' }}
        working-directory: mpv-winbuild-cmake
        run: |
          cmake -DTARGET_ARCH=x86_64-w64-mingw32 \
                -DLLVM_ENABLE_PGO=GEN \
                -DCLANG_PACKAGES_LTO=ON \
                -DCOMPILER_TOOLCHAIN=clang \
                -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/clang_root \
                -DMINGW_INSTALL_PREFIX=$GITHUB_WORKSPACE/build_x86_64/x86_64-w64-mingw32 \
                -DSINGLE_SOURCE_LOCATION=$GITHUB_WORKSPACE/src_packages \
                -DRUSTUP_LOCATION=$GITHUB_WORKSPACE/clang_root/install_rustup \
                -G Ninja -B $GITHUB_WORKSPACE/build_x86_64 -S .
          ninja -C $GITHUB_WORKSPACE/build_x86_64 shaderc

      - name: Merge profraw to profdata
        if: ${{ steps.clang_root_cache.outputs.cache-matched-key == '' }}
        run: |
          llvm-profdata merge $GITHUB_WORKSPACE/clang_root/profiles/*.profraw -o llvm.profdata
          rm -rf $GITHUB_WORKSPACE/clang_root/profiles/* || true

      - name: Build LLVM with PGO
        if: ${{ steps.clang_root_cache.outputs.cache-matched-key == '' }}
        working-directory: mpv-winbuild-cmake
        run: |
          cmake -DTARGET_ARCH=x86_64-w64-mingw32 \
                -DLLVM_ENABLE_PGO=USE \
                -DLLVM_PROFDATA_FILE="$GITHUB_WORKSPACE/llvm.profdata" \
                -DCOMPILER_TOOLCHAIN=clang \
                -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/clang_root \
                -DMINGW_INSTALL_PREFIX=$GITHUB_WORKSPACE/build_x86_64/x86_64-w64-mingw32 \
                -DSINGLE_SOURCE_LOCATION=$GITHUB_WORKSPACE/src_packages \
                -DRUSTUP_LOCATION=$GITHUB_WORKSPACE/clang_root/install_rustup \
                -G Ninja -B $GITHUB_WORKSPACE/build_x86_64 -S .
          ninja -C $GITHUB_WORKSPACE/build_x86_64 llvm

      - name: Cleanup build artifacts
        run: |
          rm -rf build_x86_64/{toolchain,packages} || true

      - name: Collect logs
        if: always()
        run: |
          mkdir -p build_x86_64_logs
          cp -fr $(find build_x86_64 -type f -iname "*-*.log") build_x86_64_logs || true
          7z a -m0=lzma2 -mx=9 -ms=on logs.7z build_x86_64_logs

      - name: Upload logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: toolchain-logs
          path: logs.7z
          retention-days: 7

      - name: Save clang_root cache
        uses: actions/cache/save@v4
        if: always()
        with:
          path: clang_root
          key: clang_root-${{ github.run_id }}

      - name: Save x86_64 toolchain cache
        uses: actions/cache/save@v4
        if: always()
        with:
          path: build_x86_64
          key: clang-x86_64_toolchain-${{ github.run_id }}

      - name: Save repository cache
        uses: actions/cache/save@v4
        if: always()
        with:
          path: src_packages
          key: repository-${{ github.run_id }}
